body {
  background-color: #f4f8fb;
  font-family: Arial, sans-serif;
}

.hero {
  background: linear-gradient(to right, #0d6efd, #4dabf7);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

#detailsSection {
  display: none;
  padding: 40px 20px;
}

footer {
  background: #0d6efd;
  color: white;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
}
